<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cammy.locationupdates">

    <!-- Google Maps API v2 permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.GeofenceActivity" />
        <activity android:name=".activities.GeofenceEventsActivity" />
        <!-- Goolgle Maps API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBznk41DODT7kFGyl3QIqyvb_x9NO0VBBs" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="494cc7f579bd22a3eaf3d637ad12e7d840c56bb7"
            />

        <activity android:name=".activities.LocationListActivity" />
        <activity android:name=".activities.MapLocationActivity" />

        <receiver android:name=".receivers.LocationUpdatesBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cammy.locationupdates.action.PROCESS_UPDATES" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.AppReplaceBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
                <!--<action android:name="android.intent.action.PACKAGE_INSTALL" />-->
                <!--<action android:name="android.intent.action.PACKAGE_RESTARTED" />-->
                <!--<data android:scheme="package"/>-->
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.ReceiveTransitionReceiver" />
    </application>

</manifest>